body{
    background-color: #EEEEEE;
}

@media (min-width: 576px){
    .container {
        max-width: 1750px;
    }
}
th, td { 
    text-align: center;
}

.table td, .table th {
    vertical-align:middle;
}
.form-control:focus {
    border-color: #12b7a9;
    box-shadow: 0 0 0 0.2rem #12b7a985;
}

.page-link {
    color: #12b7a9;
}

.page-link:hover {
    color: #097f75;
}

.page-item.active .page-link {
    background-color: #12b7a9;
    border-color: #12b7a9;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem #12b7a985;
}

#Table_wrapper{
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
    border-width: 0;
    border-radius: 4px;
}

.dataTables_scroll{
    margin-bottom: 10px;
}

@media screen and (max-width: 767px){
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: center !important;
    }
}

tbody tr:hover {
    background-color: #f0f0f0;
}

td {
    color: #4b4b4b;
}

/*List*/
.custom-select{
    cursor: pointer;
}

/*Logout*/
.icon{
    width: 37px;
    text-align: center;
    margin-left: auto;
    margin-top: 50px;
}

.mdi-power{
    font-size: 1.9185rem;
    color: #12b7a9;
    cursor: pointer;
}
.mdi-power:hover{
    color: #eb6357;
    text-decoration: none;
}

.mdi-email{
    font-size: 1.7185rem;
    color: #12b7a9;
    cursor: pointer;
}
.mdi-email:hover{
    color: #097f75;
}

span[disabled="disabled"]{
    pointer-events: none;
}

.mdi-disabled{
    color: #989898;
}

/*------------------------------------------------------------------
  Loader
*/
.be-loading {
    position: relative;
  }
  
  .be-loading:after {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 2;
  }
  
  .be-loading .be-spinner {
    display: none;
  }
  
  .be-loading-active:after {
    visibility: visible;
    opacity: 1;
  }
  
  .be-loading-active .be-spinner {
    display: block;
  }
  
  .be-loading .be-spinner {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -20px;
    margin-right: -20px;
    z-index: 3;
  }
  
  .be-spinner svg {
    -webkit-animation: be-spinner-rotation 1.4s linear infinite;
            animation: be-spinner-rotation 1.4s linear infinite;
    stroke: #4285f4;
  }
  
  .be-spinner svg .circle {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: be-spinner-turn 1.4s ease-in-out infinite;
            animation: be-spinner-turn 1.4s ease-in-out infinite;
  }
  
  @-webkit-keyframes be-spinner-rotation {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg);
    }
  }
  
  @keyframes be-spinner-rotation {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg);
    }
  }
  
  @-webkit-keyframes be-spinner-turn {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg);
    }
  }
  
  @keyframes be-spinner-turn {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg);
    }
  }