.container{
    padding-right: 0px;
    padding-left: 0px;
    max-width: 664px;
}

.logo-container{
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 3px;
    background-color: #12b7a9;
}

.logo-gt{
    width: 15%;
}

@media (max-width: 450px) {
    .logo-gt{
        width: 20%;
    } 
}

.alert{
    display: none;
    max-width: 450px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.alert-warning{
    border: 1px solid #fbbc05;
}

.alert-success{
    border: 1px solid #34a853;
}

.alert-danger{
    border: 1px solid #ea4335;
}

@media (max-width: 400px) {
    .alert-warning{
     width: 100%;
    }   
}

.alert > .message{
    border:none;
    text-align: center;
}

.btn{
    width: 120px;
    height: 40px;
}

.btn-success {
    background-color: #12b7a9;
    border-color: #12b7a9;
}

.btn-success:hover, .btn-success.hover {
    color: #FFFFFF;
    -webkit-box-shadow: inset 0 -1px 0 #40978b;
    box-shadow: inset 0 -1px 0 #40978b;
    background-color: #12b7a9;
    border-color: #12b7a9;
    border-bottom-color: #40978b;
}

.btn-success:focus, .btn-success.focus {
    background-color: #12b7a9;
    border-color: #12b7a9;
}

.btn-success:active, 
.btn-success:not([disabled]):not(.disabled):active{
    color: #FFFFFF;
    -webkit-box-shadow: inset 0 2px 0 #40978b;
    box-shadow: inset 0 2px 0 #40978b;
    background-color: #40978b;
    border-color: #40978b;
    border-top-color: #1e5057;
}
.btn-success:active:hover, 
.btn-success:not([disabled]):not(.disabled):active:hover{
color: #FFFFFF;
background-color: #40978b;
border-color: #40978b;
border-top-color: #1e5057;
-webkit-box-shadow: inset 0 2px 0 #40978b;
box-shadow: inset 0 2px 0 #40978b;
}

.btn-success[disabled],
.btn-success[disabled]:hover{
    background-color: #12b7a9;
    border-color: #12b7a9;
    cursor: not-allowed;
}

.btn-error{
    height: 45px;
}

.send-form:active:hover, 
.send-form:not([disabled]):not(.disabled):active:hover{
    color: #FFFFFF;
    background-color: #2d9147;
    border-color: #2d9147;
    border-top-color: #206632;
    box-shadow: inset 0 2px 0 #288140;
}

form{
    max-width: 350px;
    margin: auto;
}

.form-control:focus{
    border-color: #12b7a9;
}

.block_hours{
    text-align: center;
    margin-bottom: 25px;
}

.hours{
    margin-bottom: 10px;
    margin-right: 1%;
    margin-left: 1%;
    width: 20%;
    display: inline-block;
}

.hour{
    margin: auto;
    line-height: 50px;
    width: 53px;
    height: 53px;
    border: 2px solid black;
    border-radius: 50%;
    padding: inherit;
    font-weight: 700;
    cursor: pointer;
}


.duration{
    width: 90%;
    max-width: 300px;
    height: 40px;
    line-height: 37px;
    color: #12b7a9;
    background-color: white;
    border: 2px solid #12b7a9;
    border-radius: 3px;
    margin: auto;
    font-weight: 550;
    font-size: 1.1rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.d_t_block{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 13px;
}

.d_t_block > div{
    margin-bottom: 5px;
    margin-top: 5px;
}

.d_t_name {
    margin-right: 10px;
}

.d_t_span{
    color: #12b7a9;
}

@media (min-width: 550px) {
    .d_t_name {
        font-size: 1.392rem;
    }
    .d_t_span {
        font-size: 1.392rem;
    }
}

@media (max-width: 550px) {
    .d_t_name {
        font-size: 1.392rem;
    }
    .d_t_span {
        font-size: 1.392rem;
    }
}

@media (max-width: 320px) {
    .d_t_name {
        font-size: 1.292rem;
    }
    .d_t_span {
        font-size: 1.292rem;
    }
    
}

/*MODAL*/
.md-trigger{
    font-size: 1.1538rem;
    width: 90%;
    line-height: 39px;
    margin-top: 5px;
}
.modal-container{
    padding-left: 2%;
    padding-right: 2%;
}


.be-wrapper {
    padding-top: 0px;
}

#wizard1{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
    border-width: 0;
    border-radius: 4px;
}

.fuelux .wizard .step-content {
    padding: 20px 15px;
}

.fuelux .wizard > .steps-container > .steps li {
 padding-left: 20px;
 padding-right: 10px;
}

/*CHANGE COLORS*/
.fuelux .wizard > .steps-container > .steps li.complete {
    background: #12b7a9;
}

.fuelux .wizard > .steps-container > .steps li.complete:hover {
    background: #7dccc6;
}

.fuelux .wizard > .steps-container > .steps li.complete .chevron {
    border-left-color: #40978b;
}

.fuelux .wizard > .steps-container > .steps li.complete .chevron:before {
    border-left: 14px solid #12b7a9;
}

.fuelux .wizard > .steps-container > .steps li.complete:hover .chevron {
    border-left-color: #40978b;
}

.fuelux .wizard > .steps-container > .steps li.complete:hover .chevron:before {
    border-left-color: #7dccc6;
}

.fuelux .wizard > .steps-container > .steps li.active {
    color: #12b7a9;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #12b7a9;
}

.custom-control-input:checked ~ .custom-control-label::after {
    color: #12b7a9;
}

.invoice-details td.total-value {
    color: #12b7a9;
}

.widget{
    margin-bottom: 0;
}

.ui-state-disabled > span{
    display: inline-block;
    background-color: #e6e6e6;
    color: #737373;
    border-radius: 50%;
    cursor: not-allowed;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 27px;
    height: 27px;
    line-height: 27px;
}

.step-content{
    display: none;
}

.widget-calendar .ui-datepicker table.ui-datepicker-calendar tr 
td a.ui-state-highlight {
    background-color: white;
    color: #737373;
    border: 2px solid #eb6357;
    width: 29px;
    height: 29px;
}

.widget-calendar .ui-datepicker table.ui-datepicker-calendar tr td 
a.ui-state-active {
    background-color: #12b7a9;
    color:white;
}


@media (min-width: 550px) {
    .invoice-details {
        font-size: 1.392rem;
    }
    .invoice-details td.total-value {
        font-size: 1.392rem;
    }
}

@media (max-width: 550px) {
    .invoice-details {
        font-size: 1.292rem;
    }
    .invoice-details td.total-value {
        font-size: 1.392rem;
    }
}

@media (max-width: 320px) {
    .invoice-details {
        font-size: 1.292rem;
    }
    .invoice-details td.total-value {
        font-size: 1.292rem;
    }
    
}

.invoice-details td.amount, 
.invoice-details td.total-value,
.invoice-details th{
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card {
    margin-bottom: 10px;
}
.card-header-divider {
    padding-bottom: 5px;
}

.card-body{
    padding-bottom: 0;
}

.custom-control-input:disabled ~ .custom-control-label::before {
    background-color: #f1f1f1;
}

.custom-control-input:disabled ~ .custom-control-label {
    cursor: not-allowed;
}

/*------------------------------------------------------*/
#footer_ip{
    color: #d5d5d5;
    font-size: 10px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}