.Type1{
  color: dodgerblue;
  border: 3px solid dodgerblue;
  background-color: white;
}
.Type2{
  color: orange;
  border: 3px solid orange;
  background-color: white;
}
.Type3{
  color: tomato;
  border: 3px solid tomato;
  background-color: white;
}
.Type4{
  color: violet;
  border: 3px solid violet;
  background-color: white;
}

.Disabled{
    color: #8c8c8c;
    background-color: #e6e6e6;
    border: 3px solid #e6e6e6;
    cursor: not-allowed;
}

@media (min-width: 767px) and (max-width: 999px) {
  .Type1 {
    border: 2px solid dodgerblue;
  }

  .Type2 {
    border: 2px solid orange;
  }

  .Type3 {
    border: 2px solid tomato;
  }

  .Type4 {
    border: 2px solid violet;
  }

  .Disabled{
    border: 2px solid #e6e6e6;
  }


  .hour{
    width: 52px;
    height: 52px;
  } 
}


@media (max-width: 767px) {
  .Type1 {
    border: 2px solid dodgerblue;
  }

  .Type2 {
    border: 2px solid orange;
  }

  .Type3 {
    border: 2px solid tomato;
  }

  .Type4 {
    border: 2px solid violet;
  }

  .Disabled{
    border: 2px solid #e6e6e6;
  }

  .hour{
    width: 52px;
    height: 52px;
  }

}

span.Legend{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
}

span.Type1 {
  background: dodgerblue;
}

span.Type2 {
  background: orange;
}

span.Type3 {
  background: tomato;
}

span.Type4 {
  background: violet;
}

span.Disabled {
    cursor: default;
  }

.row_legenda {
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
  margin-bottom: 15px;
}