.overtime-window {
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    top: 0;
    position: absolute;
    visibility: hidden;
    z-index: 2;
  }
  
  .overtime-content{
    width: 335px;
    background: transparent;
  }
  
  .overtime-label{
    box-sizing: border-box;
    width: 100%;
    display: block;
  }
  
  .overtime-title-label{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .024em;
    color: #fff;
    padding: 20px 10px 3px;
    text-align: center;
  }
  
  .overtime-message-label{
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 0 10px 17px;
    text-align: center;
    font-weight: 300;
    font-weight: 400;
  }
  
  .overtime-btn{
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 300px;
    background-color: #0ea699;
    margin: auto;
  }
  
  .overtime-ok-btn{
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: .06em;
    text-transform: uppercase;
    height: 56px;
  }

  .timer{
    text-align: center;
    font-size: 24px;
    color: #12b7a9;
    margin-bottom: 20px;
    margin-top:20px;
  }