.card-header{
    background-color: #12b7a9;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

img {
    width: 20%;
}

.card-body {
    padding: 33px 41px 19px !important;
}

.login-submit .btn {
    height: 50px;
    width: 80%;
}

.btn-xl {
    line-height: 48px;
    font-weight: 900;
}

/*Alert*/
.alert{
    margin-bottom: 0;
    margin-top: 30px;
    width: 86%;
}