<script src="/src/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/src/assets/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/src/assets/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<script src="/src/assets/js/moment.min.js" type="text/javascript"></script>
<script src="/src/assets/js/my_js/ajax-admin-table.js" type="text/javascript"></script>
<div class="be-loading">
    <div class="icon">
        <a class="mdi mdi-power justify-content-center" href="/admin/logout" alt="Выход">
        </a>
    </div>
    <table id="Table" class="table table-striped table-bordered nowrap" style="width:100%">
        <thead>
            <th>ID</th>
            <th>Заказ</th>
            <th>Дата и время заказа</th>
            <th>Статус</th>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Email</th>
            <th>Длительность</th>
            <th>Дата</th>
            <th>Время</th>
            <th>Сумма</th>
            <th>Доп. место</th>
            <th>PayMaster ID</th>
            <th>Повторный email</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="be-spinner">
        <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://-www.w3.org/2000/svg">
            <circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle>
        </svg>
    </div>
</div>