<div class="splash-container">
  <div class="card">
    <div class="card-header">
        <a href="/"><img class="logo-img" src="/src/assets/img/logo3.png" alt="logo"></a>
    </div>

    <!-- Alert -->
    <div class="alert alert- alert-icon alert-icon-border alert-dismissible alert-index alert-danger" 
         role="alert" style="display: <?php echo ($error)?'block':'none' ?>;">                  
        <div class="icon">
            <span class="mdi mdi-close-circle-o"></span>
        </div>                  
        <div class="message" id="alert_error">                  
            <span class="span-message">Неправильно введен логин или пароль!</span>                                                         
        </div>                
    </div>

    <div class="card-body">
      <form method="POST">
        <div class="form-group">
          <input class="form-control" id="username" type="text" name="username" required="" placeholder="Логин" autocomplete="off">
        </div>
        <div class="form-group">
          <input class="form-control" id="password" name="password" required="" type="password" placeholder="Пароль">
        </div>
        <div class="form-group login-submit d-flex justify-content-center">
            <button class="btn btn-success btn-xl" type="submit" data-dismiss="modal">Войти</button>
        </div>
      </form>
    </div>
  </div>
</div>