<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spa Peschera</title>
    <link rel="icon" type="image/x-icon" href="/src/assets/img/favicon.ico">
    <link rel="stylesheet" href="/src/assets/css/app.css" type="text/css"/>
    <link rel="stylesheet" href="/src/assets/css/index.css" type="text/css"/>
  </head>
  <body class="be-splash-screen">
    <div class="be-wrapper be-error be-error-404">
      <div class="be-content">
        <div class="main-content container-fluid">
          <div class="error-container">
            <div class="error-number">404</div>
            <div class="error-description"><?php echo $this->response->getContent(); ?></div>
            <div class="error-goback-text">Желаете перейти на главную страницу?</div>
            <div class="error-goback-button"><a class="btn btn-xl btn-success btn-error" href="/">Перейти</a></div>
            <div class="footer">&copy; <?php echo date("Y"); ?> Спа Пещера</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>