<?php
 //print_r($xml_1);?>
<?php //print_r(round((int)"7"/24, 6)); ?>
<?php /*$records = $xml->RESULTS->DIARY->RECORDSET->RECORD;
$k = 0;
foreach ($records as $record):
    //Инициализация
    $time_s = (float)$record->STARTTIME;
    $time_f = (float)$record->FINISHTIME;
    $date_s = (int)$record->STARTDATE;
    $date_f = (int)$record->FINISHDATE;
    //Преобразуем (округляем до целых)
    $time_s = round($time_s*24);
    $time_f = round($time_f*24);
    //Заносим в массив по условиям
    //1 Проверяем на разрыв даты 28.01
    if ($date_f > $date_s && $k == 0){
        for($i=0; $i<=$time_f; $i++) {
            $time[] = $i;
        }
    }
    //2 Просто заносим 
    else if ($time_s<=$time_f){
        for($i=$time_s; $i<=$time_f; $i++) {
            $time[] = $i;
        }
    //3 Тоже проверка на разрыв даты 27.01
    }else{
        for($i=$time_s; $i<=23; $i++) {
            $time[] = $i;
        } 
    }
    $k++;
endforeach;
//Удаляем дубликаты
$time = array_unique($time);
for($i=0; $i<count($time); $i++) {
    //Убираем окно на 2 часа если 2 часа **.**
    if (($time[$i+1] - $time[$i]) == 2)
        $time[] = $time[$i]+1;
    //Оставляем окно на 1 час если 3 часа **..**
    if (($time[$i+1] - $time[$i]) == 3)
        $time[] = $time[$i+1]-1;
}
//Сортируем массив
asort($time);
//Преобразуем к нормальному виду
foreach ($time as $hour):
    //Ставим 0 если меньше
    if ($hour<10){
        $hour = "0".$hour.":00";
    }else{
        $hour = $hour.":00";
    }
endforeach;*/
?>
<br>
<?php
/*$date1=date_create("1900-01-01");
$date2=date_create("2019-03-30");
$diff=date_diff($date1,$date2);
echo $diff->format("%a")+"3";
$month = array(
    "Январь" => "01",
    "Февраль" => "02",
    "Март" => "03",
    "Апрель" => "04",
    "Май" => "05",
    "Июнь" => "06",
    "Июль" => "07",
    "Август" => "08",
    "Сентябрь" => "09",
    "Октябрь" => "10",
    "Ноябрь" => "11",
    "Декабрь" => "12",
);
echo $month["Октябрь"];
*/
?>
<br>


<?php /*$records = $xml_1->RESULTS->DIARY->RECORDSET->RECORD; 
foreach ($records as $record):
    //Инициализация
    $time_s = parse_time($record->STARTTIME);
    $time_f = parse_time($record->FINISHTIME);

    print_r($time_s ."--");
    print_r($time_f."///");
    $date_s = (int)$record->STARTDATE;
    $date_f = (int)$record->FINISHDATE;
    print_r($date_s ."--");
    print_r($date_f."///");

endforeach;*/
?>
<br>
<br>
<?php /*$records = $xml_2->RESULTS->DIARY->RECORDSET->RECORD; 
foreach ($records as $record):
    //Инициализация
    $time_s = parse_time($record->STARTTIME);
    $time_f = parse_time($record->FINISHTIME);

    print_r($time_s ."--");
    print_r($time_f."///");
    $date_s = (int)$record->STARTDATE;
    $date_f = (int)$record->FINISHDATE;
    print_r($date_s ."--");
    print_r($date_f."///");

endforeach;*/
?>
<br>
<?php
/*echo parse_date('2019', 'Апрель', '31');
function parse_date($year, $m, $day)
{
    $m_array= array(
        "Январь" => "01",
        "Февраль" => "02",
        "Март" => "03",
        "Апрель" => "04",
        "Май" => "05",
        "Июнь" => "06",
        "Июль" => "07",
        "Август" => "08",
        "Сентябрь" => "09",
        "Октябрь" => "10",
        "Ноябрь" => "11",
        "Декабрь" => "12",
    );
    $month = $m_array[$m];
    $days_of_month = cal_days_in_month(CAL_GREGORIAN, $month, $year);
    echo $days_of_month;
    if ($days_of_month-$day < 0){
        $my_key = $month;
        $keys = array_keys($m_array);
        $i = array_search($m, $keys);
        $m  = $keys[$i+1];
        $month = $m_array[$m];
        $day = "01";
    }
    echo $m;
    $date1=date_create("1900-01-01");
    $date2=date_create("$year-$month-$day");
    $diff=date_diff($date1,$date2);
    return $diff->format("%a")+"2";
}*/
?>

<?php /*$records = $xml->RESULTS->DIARY->RECORDSET->RECORD;
$k = 0;
foreach ($records as $record):
    //Инициализация
    $time_s = (float)$record->STARTTIME;
    $time_f = (float)$record->FINISHTIME;
    $date_s = (int)$record->STARTDATE;
    $date_f = (int)$record->FINISHDATE;
    //Преобразуем (округляем до целых)
    $time_s = round($time_s*24);
    $time_f = round($time_f*24);
    //Заносим в массив по условиям
    if ($date_f > $date_s && $k == 0){
        if($time_f != 23){ $count = $time_f +1;
        }else{$count = $time_f;}

        for($i=0; $i<=$count; $i++) {
            $time[] = $i;
        }
    } 
    else if($time_f == 23 && $k == 0){
        $time[] = 0;
    }
    else if ($time_s<=$time_f){
        
        if($time_f != 23){ $count = $time_f +1;
        }else{$count = $time_f;}

        for($i=$time_s; $i<=$count; $i++) {
            $time[] = $i;
        }
    }else{
        for($i=$time_s; $i<=23; $i++) {
            $time[] = $i;
        } 
    }
    $k++;
endforeach;
//Удаляем дубликаты
$time = array_unique($time);
print_r("ФФФФФФФФФФ");
    //Преобразуем к нормальному виду
    foreach ($time as $hour):
        //Ставим 0 если меньше
        if ($hour<10){
            $hour = "0".$hour.":00";
        }else{
            $hour = $hour.":00";
        }
        print_r($hour."+++"); //12:16, 17:20, 22:01
    endforeach;*/
?>