<div class="be-wrapper">
  <div class="main-content container-fluid">
    <div class="row wizard-row">
      <div class="col-md-12 fuelux">
        <div class="be-loading">
          <div class="block-wizard">
            <div class="wizard wizard-ux" id="wizard1">
              <div class="steps-container">
              <div class="logo-container">
              <a href="/"><img class="logo-gt" src="src/assets/img/logo3.png" alt="logo"></a>
              </div>
              <ul class="steps">
                <li class="active" data-step="1">Шаг 1<span class="chevron"></span></li>
                <li data-step="2">Шаг 2<span class="chevron"></span></li>
                <li data-step="3">Шаг 3<span class="chevron"></span></li>
                <li data-step="4">Шаг 4<span class="chevron"></span></li>
              </ul>
              </div>
              <div class="step-content">
                  
                <!-- Alert window after email -->
                <div class="alert alert-<?php echo $alert ?> alert-icon alert-icon-border alert-dismissible alert-index" role="alert"
                style="display:<?php echo $display ?>">
                  <div class="icon"><span class="mdi mdi-<?php echo $icon ?>"></span></div>
                  <div class="message" id="alert_error">
                  <button class="close" type="button">
                      <span class="mdi mdi-close" aria-hidden="true"></span>
                  </button>
                    <span class="span-message"> 
                      <?php if($alert == 'success'){?>
                            Вам на почту отправлено письмо с информацией о броне. Телефон администратора
                      <?php }if($alert == 'danger'){?>
                        Что-то пошло не так. Телефон администратора 
                      <?php }?>
                    </span>
                      <a href="tel:+7(978)0830343"><p style="margin-bottom: 0; color:#337ab7;">+7 (978) 083-03-43</p></a>
                  </div>
                </div>

                <h1 class="d-flex justify-content-center">Бронирование</h1>
                <div class="step-pane active" data-step="1">
                  <?php include 'page_1.phtml'; ?>
                </div>
                <div class="step-pane" data-step="2">
                  <?php include 'page_2.phtml'; ?>
                </div>
                <div class="step-pane" data-step="3">
                  <?php include 'page_3.phtml'; ?>
                </div>
                <div class="step-pane" data-step="4">
                  <?php include 'page_4.phtml'; ?>
                </div>
              </div>
            </div>
          </div>
          <div class="be-spinner">
            <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://-www.w3.org/2000/svg">
              <circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle>
            </svg>
          </div>
        </div>
      </div>
     </div>
     <div id="footer_ip">
        ИП ДЕНИСОВА НИНА АЛЕКСЕЕВНА 
        ОГРНИП ‎315910200043200 
        ИНН ‎910215536794
     </div>
    </div>
  </div>
</div>

<?php include 'scripts.phtml'; ?>