<div class='timer'></div>
<form action="/index/payMaster/" method="POST" data-parsley-validate="" novalidate="" style="margin-bottom: 20px;">
  <div class="form-group">
    <input class="form-control" id="inputUserName" type="text" name="name" parsley-trigger="change" required="" placeholder="Имя*" autocomplete="off">
  </div>
  <div class="form-group">
    <input class="form-control" type="tel" data-mask="phone" name="phone" parsley-trigger="change" required="" placeholder="Телефон*">
  </div>
  <div class="form-group">
    <input class="form-control" id="inputEmail" type="email" name="email" parsley-trigger="change" 
    data-parsley-type-message="E-mail введен некорректно" required="" placeholder="E-mail*" maxlength="50">
  </div>
  <div class="form-group">
    <textarea class="form-control" id="inputTextarea3" name="comment" placeholder="Комментарий" maxlength="240"></textarea>
  </div>
  <input id="amount_in" name="amount" type="hidden" value="">
  <input id="duration_in" name="duration" type="hidden" value="">
  <input id="date_in" name="date" type="hidden" value="">
  <input id="time_in" name="time" type="hidden" value="">
  <input id="add_place_in" name="add-place" type="hidden" value="">
  <input id="id_in" name="id" type="hidden" value="">
  <label class="be-checkbox custom-control custom-checkbox">
    <input class="custom-control-input" type="checkbox" required name="term1">
    <span class="custom-control-label">
        Даю свое согласие на 
        <a style="color:#337ab7; cursor: pointer;" onclick="window.open('https://spa-peschera.com/data-agreement/')">
            обработку персональных данных
        </a> 
        в соответствии с 
        <a style="color:#337ab7; cursor: pointer;" onclick="window.open('https://spa-peschera.com/policy/')">
            политикой конфиденциальности
        </a> 
        сайта.
    </span>
  </label>

  <div class="d-flex justify-content-center">
    <button class="btn btn-success btn-space md-trigger" data-modal="full-success" type="button">Забронировать</button>
  </div>

  <!-- Modal -->
  <div class="modal-container modal-full-color modal-full-color-success modal-effect-8" id="full-success">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close modal-close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
      </div>
      <div class="modal-body">
        <div class="text-center"><span class="modal-main-icon mdi mdi-check"></span>
          <h3>Уважаемый гость!</h3>
          <p>Обращаем Ваше внимание, что бронь действительна в течении одного часа с момента бронирования.
              В случае отсутствия оплаты ваша бронь автоматически аннулируется.</p>
          <div class="mt-8">
            <button class="btn btn-secondary btn-space modal-close" type="button" data-dismiss="modal">Отмена</button>
            <button class="btn btn-success btn-space send-form" data-dismiss="modal" type="submit">Согласен</button>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</form>

<div class="d-flex justify-content-center row">
    <div class="col-md-4" style="text-align: center; width: 250px;">
        По вопросам бронирования обращаться по номеру 
        <a id="ask-phone" href="tel:+7(978)0830343"><p style="color:#337ab7;" >+7 (978) 083-03-43</p></a>
    </div>
</div>

<!-- Alert Window -->
<div class='overtime-window'>
    <div class='overtime-content'>
        <label class="overtime-label overtime-title-label">Ошибка</label>
        <label class="overtime-label overtime-message-label">
            Время на покупку истекло. Приносим извинения за доставленные неудобства.
        </label>
        <a href="/">
            <button class="btn btn-success overtime-btn overtime-ok-btn">
                Вернуться к выбору даты
            </button>
        </a>
    </div>
</div>
