    <!--
    <table class="invoice-details" style="margin-bottom: 15px; border-bottom: none;">
      <tbody>
        <tr>
          <th style="width:50%; margin-left: 5px; padding-right: 10px;"></th>
          <th style="width:50%;"></th>
        <tr>
          <td class="amount" style="padding-right: 10px;">Дата</td>
          <td class="total-value d_m_y"></td>
        </tr>
        <tr>
          <td class="amount sec_td" style="padding-right: 10px;">Время начала</td>
          <td class="total-value h_m"></td>
        </tr>
      </tbody>
    </table>
    -->
    <!--  font-size: 20px;
    margin-bottom: 20px;
    font-size: 20px -->
<div class="d_t_block">
    <div class="d-flex justify-content-center">
        <span class="d_t_name">Дата</span>
        <span class="d_m_y d_t_span"><span>
    </div>
    <div class="d-flex justify-content-center">
        <span class="d_t_name">Время начала</span>
        <span class="h_m d_t_span"><span>      
    </div>  
</div>
<div class="durations" style="text-align: center;">
  <h3 style="margin-bottom:25px;">
    Продолжительность
  </h3>
</div>

<div class="add_serv card">
    <span class="d-flex justify-content-center card-header card-header-divider">Дополнительные услуги</span>
</div>
<div class="card-body d-flex justify-content-center">
    <label class="custom-control custom-checkbox">
      <input class="custom-control-input" id="add_place" type="checkbox">
      <span class="custom-control-label">Дополнительное место 0 ₽</span>
    </label>
</div>
<div class="d-flex justify-content-center summary" style="margin-bottom: 20px;">
    <h2 class="total_price">ИТОГО 0 ₽</h2>
</div>
<div class="d-flex justify-content-center">
  <button id="page_3_back" class="btn btn-secondary btn-space wizard-previous" data-wizard="#wizard1">Назад</button>
  <button id="page_3" class="btn btn-success btn-space wizard-next" data-wizard="#wizard1">Далее</button>
</div>