<div class="widget widget-calendar">
  <div id="datepicker"></div>
</div>
<div class="d-flex justify-content-center">
  <button id="page_1" class="btn btn-success btn-space wizard-next" data-wizard="#wizard1" disabled="disabled">
    Далее
  </button>
</div>