<div class="d_t_block">
    <div class="d-flex justify-content-center">
        <span class="d_t_name">Дата</span>
        <span class="d_m_y d_t_span"><span>
    </div>
</div>

<h3 class="d-flex justify-content-center" style="margin-bottom:20px;">
    Выберите время начала
</h3>

<div class="alert alert-warning alert-icon alert-icon-border alert-dismissible" role="alert">
  <div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
  <div class="message" id="alert_error">
  </div>
</div>

<div class="block-legend">
</div>
<div class="block_hours">
<!--  
<?php for($i=0; $i<=23; $i++){ ?>
    <?php 
    if ($i == 23 || ($i>=0 && $i<8))
        $type = 'Type3';
    if ($i>=8 && $i<15)
        $type = 'Type2';
    if ($i>=15 && $i<23)
        $type = 'Type1';  ?>
    <div class="hours">
        <div class="hour  <?php echo $type; ?> ">
              <span><?php echo ($i<10) ? '0' . $i . ':00' :  $i . ':00';?></span>
        </div>
    </div> 
  <?php } ?>  
-->
</div>

<!-- ----------------------------------------------------->
<!--
<table class="invoice-details" style="margin-bottom: 25px;">
  <tbody>
    <tr>
      <th style="width:40%;"></th>
      <th style="width:30%;"></th>
      <th style="width:30%;"></th>
    <tr>
      <td></td>
      <td class="summary total">Количество</td>
      <td class="amount">12 часов</td>
    </tr>
    <tr>
      <td></td>
      <td class="summary total">Стоимость</td>
      <td class="amount total-value">3000 руб</td>
    </tr>
  </tbody>
</table>
  -->
<div class="d-flex justify-content-center">
  <button id="page_2_back" class="btn btn-secondary btn-space wizard-previous" data-wizard="#wizard1">Назад</button>
  <button id="page_2" class="btn btn-success btn-space wizard-next" data-wizard="#wizard1">Далее</button>
</div>