<script src="src/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="src/assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js" type="text/javascript"></script>
<script src="src/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="src/assets/js/app.js" type="text/javascript"></script>
<script src="src/assets/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>

<!-- Wizard -->
<script src="src/assets/lib/fuelux/js/wizard.js" type="text/javascript"></script>
<script src="src/assets/js/app-form-wizard.js" type="text/javascript"></script>

<!-- Mask -->
<script src="src/assets/lib/jquery.maskedinput/jquery.maskedinput.js" type="text/javascript"></script>
<script src="src/assets/js/app-form-masks.js" type="text/javascript"></script>

<!-- Validation -->
<script src="src/assets/lib/parsley/parsley.min.js" type="text/javascript"></script>


<!-- Modal -->
<script src="src/assets/lib/jquery.niftymodals/js/jquery.niftymodals.js" type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function(){
    App.init();
 
    $('.md-trigger').click(function(){
      $('form').parsley().validate();
    });
    
    $('form').parsley().options.requiredMessage = "Поле обязательно для заполнения";
    $('form').find('input:checkbox').parsley().options.requiredMessage = "Согласитесь с условиями";
  });
</script>
    
<script type="text/javascript">
  $(document).ready(function(){
  	App.init();
    App.wizard();
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
  	App.init();
  	App.masks();
  });
</script>

<!-- Calendar -->
<script>
  $( function() {
    $( "#datepicker" ).datepicker({
      monthNames: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль",
       "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
      dayNamesMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
      firstDay: 1,
      minDate: "0",
      hideIfNoPrevNext: true,
      onSelect: function () {
        if($(window).scrollTop() + $(window).height() != $(document).height()) {
          $("html, body").animate({ scrollTop: $(document).height()-$(window).height() }, 500);
        }
        $("#page_1").removeAttr('disabled');
      },
      beforeShowDay: function (date) {
        if (!$("#datepicker").hasClass('remove-active')){
          setTimeout(function () {
            $("#datepicker").find(".ui-state-active").removeClass("ui-state-active");
          },0);
          $("#datepicker").addClass('remove-active');
        }
        return [true, '', ''];
      }
    });
  });
  $(document).on('click', '.ui-datepicker-next', function () {
    $("#page_1").attr('disabled', 'disabled');
    $("#datepicker").find(".ui-state-active").removeClass("ui-state-active");
  });
  $(document).on('click', '.ui-datepicker-prev', function () {
    $("#page_1").attr('disabled', 'disabled'); 
    $("#datepicker").find(".ui-state-active").removeClass("ui-state-active");
  });
</script>

<!-- Modal -->
<script type="text/javascript">
  $.fn.niftyModal('setDefaults',{
  	overlaySelector: '.modal-overlay',
  	contentSelector: '.modal-content',
  	closeSelector: '.modal-close',
    classAddAfterOpen: 'modal-show',
    beforeOpen: function( modal ){
      if ($('form').parsley().isValid()){
          return true;
      }
      return false;
    }

  });
</script>


<!-- MY-JS -->
<script src="src/assets/js/min/index.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $( function() {
        $('.step-content').hide();
        setTimeout(function () {
            $(".step-content").slideDown("normal");
        },1);
    });
</script>
<script type="text/javascript">
    $(".wizard-next").click(function() {
        window.scrollTo(0, 0);
    });
</script>

<script type="text/javascript">
  $(document).keyup(function(event) {
    if($('.step-content').find('.step-pane.active').attr('data-step') === "4"){
      if (event.keyCode === 13) {
        $(".md-trigger").click();
      }
    }
  }); 
</script>