<div style='width: 708px; margin: 0 auto; background: #fff; font-family: "Roboto", Arial, sans-serif; color:black;
border: 4px solid #12b7a9; border-radius: 5px;'>
    <div style="padding: 36px 0 0;">
        <div style="margin: 0 20px; padding: 20px 0px 10px 0px; text-align: center; background-color: #12b7a9;">
            <img src="<?php echo $logo; ?>" style="width: 100px;"/>
        </div>
        <div style="padding: 20px 0 0;">
            <img src="" style="width: 100%;"/>
        </div>
        <div style="font-size: 20px; text-align:center; margin-bottom: 20px; font-weight: 500;">
            ОНЛАЙН БРОНЬ
        </div>
        <div style="font-size: 20px; text-align:center; margin-bottom: 20px;">
            № <?php echo $abonement_id; ?>
        </div>
    </div>
    <div style="font-size: 16px; padding: 0 20px; margin-top: 2px">
        <span style="font-weight: bold;">Дата: </span><?php echo $date; ?>
    </div>
    <div style="font-size: 16px; padding: 0 20px; margin-top: 2px">
        <span style="font-weight: bold;">Время: </span><?php echo $time; ?>
    </div>
    <div style="font-size: 16px; padding: 0 20px; margin-top: 2px">
        <span style="font-weight: bold;">Продолжительность: </span><?php echo $duration; ?>
    </div>
    <div style="font-size: 16px; padding: 0 20px; margin-top: 2px">
        <span style="font-weight: bold;">Дополнительное место: </span>
        <?php echo ($add_place)?'ДА':'НЕТ'; ?>
    </div>
    <div style='margin: 0px auto 0;'>
        <div style="font-size: 16px; padding: 15px 20px 0 20px;">
            <span style="font-weight: bold;">Имя: </span><?php echo $name; ?>
        </div>
        <div style="font-size: 16px; padding: 0 20px;">
            <span style="font-weight: bold;">Контактный номер: </span><div style="display: inline-block"><?php echo $phone; ?></div>
        </div>
        <div style="font-size: 16px; padding: 0 20px;">
            <span style="font-weight: bold;">Контактный e-mail: </span><?php echo $email; ?>
        </div>
        <?php if($comment){?>
            <div style="font-size: 16px; padding: 0 20px;">
                <span style="font-weight: bold;">Комментарий к брони: </span><?php echo $comment; ?>
            </div>
        <?php } ?>
        <div style="font-size: 16px; padding: 15px 20px;">
            <span style="font-weight: bold;">Дата заказа: </span><?php echo $created_at; ?>
        </div>
        <div style='text-align: center; font-size: 18px;'>
            <div style='margin-top: 20px;'>
                Сумма оплаты
            </div>
            <div style='font-weight: bold; font-size: 16px;'>
                <?php echo $amount . ' ₽'; ?>
            </div>
        </div>
    </div>
    <div style="background-color:#12b7a9; height: 60px; margin: 0 20px; margin-top: 20px;"></div>
    <div style='margin: 0 auto 0;'>
        <div style='max-width: 270px; display: inline-block; margin-right: 20px; margin-left: 20px'>
            <div style='margin-top: 21px; font-size: 16px;'>
                Спа Пещера
            </div>
            <div style='margin-top: 8px; font-size: 15px; line-height: 19px;'>
                г.Симферополь, ул. Ленина, 2
            </div>
            <div style='margin-top: 10px; font-size: 16px; color: #003cff;'>
                <a href="https://yandex.ru/maps/146/simferopol/?ll=34.105000%2C44.952125&mode=search&sll=30.320870%2C59.924550&sspn=0.419926%2C0.120627&text=%D0%B3.%D0%A1%D0%B8%D0%BC%D1%84%D0%B5%D1%80%D0%BE%D0%BF%D0%BE%D0%BB%D1%8C%2C%20%D1%83%D0%BB.%20%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0%2C%202&z=17.76"
                style="text-decoration:none;color:#003cff" target="_blank">Как добраться</a>
                <a href="https://spa-peschera.com/" style="margin-left:22px;text-decoration:none;color:#003cff" target="_blank">Сайт</a>
            </div>
        </div>
    </div>
    <div style='margin: 0px auto;'>
        <div style='max-width: 303px; display: inline-block; margin: 0 20px;'>
            <div style='font-size: 16px; line-height: 20px; padding-bottom: 9px; margin-top: 20px;'>
                Служба поддержки
            </div>
            <div style='font-size: 16px; line-height: 20px; padding-bottom: 9px;'>
                <a href="mailto:zelenyi-teatr@mail.ru" style="text-decoration:none;color:#003cff" target="_blank">
                    zelenyi-teatr@mail.ru
                </a>
            </div>
            <div style='font-size: 16px; line-height: 20px; padding-bottom: 20px;'>
                +7 (978) 083-03-43
            </div>
        </div>
    </div>
</div>