<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spa Peschera</title>
        <link rel="icon" type="image/x-icon" href="/src/assets/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/src/assets/lib/perfect-scrollbar/css/perfect-scrollbar.css"/>
        <link rel="stylesheet" type="text/css" href="/src/assets/lib/material-design-icons/css/material-design-iconic-font.min.css"/>
        <link rel="stylesheet" href="/src/assets/css/app.css" type="text/css"/>
        <link rel="stylesheet" href="/src/assets/css/index.css" type="text/css"/>
        <link rel="stylesheet" href="/src/assets/css/legend.css" type="text/css"/>
        <link rel="stylesheet" href="/src/assets/css/overtime.css" type="text/css"/>
        <?php $this->assets->outputCss(); ?>
    </head>
    <body>
        <div class="container">
            <?php echo $this->getContent(); ?>
        </div>        
    </body>
</html>
